.notify{  
  position: relative;
  position: fixed;
  top: 0px;
  right: 0px;
  width:100%;
  display:inline-block;
  height:0;  
  box-sizing:border-box;
  color:white;  
  text-align:center;
  background:rgba(0,0,0,.6);
  overflow:hidden;
  box-sizing:border-box;
  transition:height .2s;
  z-index: 99999;
}

#notifyType:before{
  display:block; 
  margin-top:15px; 
}

.notificando{  
  height:50px;
}

.success:before{
  Content:attr(data-before);
}
