@keyframes aparece {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

html {
  background-color: #F1F1ED;
  font-family: 'Secular One', sans-serif !important; }

body {
  /*max-width: $Body--Ancho__max; 
	width: $Body--Ancho;
	min-width: 99%;
	/*nada*/
  /*centra el body en la pantalla*/
  /*margin: 15px auto; */
  /*sombra para el body flotante*/
  box-shadow: 0px 0px 20px 1px #888888;
  overflow: none;
  display: grid;
  grid-template-areas: "header header header header" "nav nav nav nav" "main main main main" "footer footer footer footer";
  /*esconde el elevador en los navegadores*/
  -ms-overflow-style: none;
  /* IE */
  scrollbar-width: none;
  /* Firefox */ }
  body::-webkit-scrollbar {
    display: none;
    /* Esconder elevador en Chrome */ }

header {
  grid-area: header;
  padding-top: 15px;
  text-align: center;
  background: white; }
  header nav {
    grid-area: nav;
    height: 40px;
    background-color: #c2bb5f; }
    header nav ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      margin: 0px;
      padding-inline-start: 0px;
      max-width: 800px;
      margin: 0px auto; }
      header nav ul li {
        line-height: 40px;
        background-color: #c2bb5f;
        list-style: none;
        flex-grow: 2;
        flex-shrink: 2; }
        header nav ul li a {
          text-decoration: none !important;
          color: white;
          font-size: clamp(10px, 2.5vw, 22px);
          display: block;
          width: 100%;
          height: 100%; }
          header nav ul li a:hover, header nav ul li a[href="#"] {
            color: white !important;
            background: linear-gradient(90deg, #c2bb5f 0%, rgba(140, 140, 70, 0.8) 50%, #c2bb5f 100%); }

.subtitulo, main > h1, .main > h1 {
  color: #70560D; }

.centrado {
  margin: 0px auto;
  justify-content: center; }

main, .main {
  grid-area: main;
  display: grid;
  padding: 0 5%;
  margin: 24px;
  width: 100%;
  max-width: 800px;
  width: 80vw;
  margin: 0px auto; }
  main > h1, .main > h1 {
    font-size: clamp(13px, 5vw, 30px);
    text-align: center; }

footer {
  grid-area: footer;
  background: #848151;
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
  line-height: 30px;
  margin-top: 40px;
  font-size: clamp(13px, 1.2vw, 15px);
  padding: 0 5%; }

.logo-pipi {
  position: relative; }
  .logo-pipi img {
    max-width: 80%;
    animation-name: aparece;
    animation-duration: 2s; }

.titulo-logo {
  color: #c2bb5f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Secular One', sans-serif;
  font-size: clamp(13px, 3.85vw, 38px);
  animation-name: aparece;
  animation-duration: 2s; }

.galeriaGrid {
  display: grid;
  grid-template-areas: "f1 f2 f3" "f4 f2 f5";
  justify-content: center;
  align-items: stretch;
  align-content: center;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr; }

.galeriaItem {
  filter: blur(1.5px) grayscale(70%);
  width: 80%;
  padding: 5px 0px 0px 20px; }
  .galeriaItem:hover {
    filter: blur(0px) grayscale(0%);
    transform: scale(1.05);
    transition: 0.5s;
    z-index: 9999; }

.TituloMain {
  text-align: center; }

.separador {
  margin-top: 24px; }

.card {
  margin-top: 10px; }

.f1 {
  grid-area: f1; }

.f2 {
  grid-area: f2; }

.f3 {
  grid-area: f3; }

.f4 {
  grid-area: f4; }

.f5 {
  grid-area: f5; }
