@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@keyframes aparece {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

html {
  font-family: 'Secular One', sans-serif; }

body {
  overflow: none;
  min-height: 100%;
  display: grid;
  grid-template-areas: "header header header header" "nav nav nav nav" "main main main main" "footer footer footer footer";
  /*esconde el elevador en los navegadores*/
  -ms-overflow-style: none;
  /* IE */
  scrollbar-width: none;
  /* Firefox */ }
  body::-webkit-scrollbar {
    display: none;
    /* Esconder elevador en Chrome */ }

header {
  grid-area: header;
  padding-top: 15px;
  text-align: center;
  background: white; }
  header nav {
    grid-area: nav;
    height: 40px;
    background-color: #c2bb5f; }
    header nav ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      margin: 0px;
      padding-inline-start: 0px;
      max-width: 800px;
      margin: 0px auto; }
      header nav ul li {
        line-height: 40px;
        background-color: #c2bb5f;
        list-style: none;
        flex-grow: 2;
        flex-shrink: 2; }
        header nav ul li a {
          text-decoration: none !important;
          color: white;
          font-size: clamp(10px, 3vw, 22px);
          display: block; }
          header nav ul li a:hover, header nav ul li a[href="#"] {
            color: white !important;
            background: linear-gradient(90deg, #c2bb5f 0%, rgba(140, 140, 70, 0.8) 50%, #c2bb5f 100%); }

main {
  grid-area: main;
  display: grid;
  padding-top: 20px;
  margin: 24px;
  width: 100%;
  max-width: 800px;
  width: 80vw;
  margin: 0px auto; }
  main > h1 {
    color: #70560D;
    font-size: clamp(13px, 5vw, 30px);
    text-align: center;
    padding: 16px 0; }

footer {
  grid-area: footer;
  background: #848151;
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
  margin-top: 40px;
  font-size: clamp(12px, 1.2vw, 15px);
  padding: 10px 5%; }

.logo-pipi {
  animation-name: aparece;
  animation-duration: 2s;
  position: relative; }
  .logo-pipi img {
    max-width: 80%; }
  .logo-pipi > p {
    white-space: pre;
    color: #c2bb5f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Lobster", cursive;
    font-size: clamp(13px, 6.2vw, 62px); }

.galeriaGrid {
  display: grid;
  grid-template-areas: "f1 f2 f3" "f4 f2 f5";
  justify-content: center;
  align-items: stretch;
  align-content: center;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr; }

.galeriaItem {
  filter: blur(1.5px) grayscale(70%);
  width: 80%;
  padding: 5px 0px 0px 20px; }
  .galeriaItem:hover {
    filter: blur(0px) grayscale(0%);
    transform: scale(1.05);
    transition: 0.5s;
    z-index: 9999; }

.f1 {
  grid-area: f1; }

.f2 {
  grid-area: f2; }

.f3 {
  grid-area: f3; }

.f4 {
  grid-area: f4; }

.f5 {
  grid-area: f5; }
