@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@keyframes aparece {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

html {
  font-family: 'Secular One', sans-serif; }

body {
  overflow: none;
  min-height: 100%;
  display: grid;
  grid-template-areas: "header header header header" "nav nav nav nav" "main main main main" "footer footer footer footer";
  /*esconde el elevador en los navegadores*/
  -ms-overflow-style: none;
  /* IE */
  scrollbar-width: none;
  /* Firefox */ }
  body::-webkit-scrollbar {
    display: none;
    /* Esconder elevador en Chrome */ }

header {
  grid-area: header;
  padding-top: 15px;
  text-align: center;
  background: white; }
  header nav {
    grid-area: nav;
    height: 40px;
    background-color: #c2bb5f; }
    header nav ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      margin: 0px;
      padding-inline-start: 0px;
      max-width: 800px;
      margin: 0px auto; }
      header nav ul li {
        line-height: 40px;
        background-color: #c2bb5f;
        list-style: none;
        flex-grow: 2;
        flex-shrink: 2; }
        header nav ul li a {
          text-decoration: none !important;
          color: white;
          font-size: clamp(10px, 3vw, 22px);
          display: block; }
          header nav ul li a:hover, header nav ul li a[href="#"] {
            color: white !important;
            background: linear-gradient(90deg, #c2bb5f 0%, rgba(140, 140, 70, 0.8) 50%, #c2bb5f 100%); }

main {
  grid-area: main;
  display: grid;
  padding-top: 20px;
  margin: 24px;
  width: 100%;
  max-width: 800px;
  width: 80vw;
  margin: 0px auto; }
  main > h1 {
    color: #70560D;
    font-size: clamp(13px, 5vw, 30px);
    text-align: center;
    padding: 16px 0; }

footer {
  grid-area: footer;
  background: #848151;
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
  margin: 40px 0px;
  font-size: clamp(10px, 1.2vw, 15px);
  padding: 10px 5%; }
  footer #barra_nav_footer {
    grid-area: footer-nav;
    height: auto;
    position: relative; }
    footer #barra_nav_footer ul {
      margin: 0;
      padding: 0;
      list-style: none;
      height: 93px; }
      footer #barra_nav_footer ul li {
        display: block;
        width: 110px;
        height: auto;
        text-align: center;
        vertical-align: middle; }
        footer #barra_nav_footer ul li a {
          text-decoration: none !important;
          color: white;
          font-size: clamp(10px, 3vw, 22px);
          display: block; }
          footer #barra_nav_footer ul li a:hover, footer #barra_nav_footer ul li a[href="#"] {
            color: white !important;
            background: linear-gradient(90deg, #c2bb5f 0%, rgba(140, 140, 70, 0.8) 50%, #c2bb5f 100%); }

.logo-pipi {
  animation-name: aparece;
  animation-duration: 2s;
  position: relative; }
  .logo-pipi img {
    max-width: 80%; }
  .logo-pipi > p {
    white-space: pre;
    color: #c2bb5f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Lobster", cursive;
    font-size: clamp(13px, 6.2vw, 62px); }

.logo-footer {
  position: relative; }
  .logo-footer img {
    max-width: 80%; }
  .logo-footer > p {
    white-space: pre;
    color: #c2bb5f;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Lobster", cursive;
    font-size: clamp(10px, 3.1vw, 60px); }

form {
  padding: 25px 0px 0px 0px; }
  form label {
    padding: 5px 0px 0px 0px; }
  form textarea {
    margin: 0px 0px 10px 0px; }
  form .botones {
    display: flex;
    justify-content: space-between; }
    form .botones input {
      flex-grow: 1;
      color: white;
      background-color: #c2bb5f;
      border: none;
      margin: 3px; }

#TipoMilanesas:before {
  content: attr(aria-label);
  font-size: 120%;
  font-weight: bold;
  margin-left: -15px; }
