@import "variables";
@import url($Logo--Fuente__Url);



@keyframes aparece {  
	0% { opacity: 0;}
	100% { opacity: 1;}
}

html{
	font-family: 'Secular One', sans-serif;
}


body{
	overflow: none;
	min-height: 100%;
	
	display: grid;

	grid-template-areas:
				"header header header header"
				"nav nav nav nav"
				"main main main main"
				"footer footer footer footer";

	/*esconde el elevador en los navegadores*/
	-ms-overflow-style: none;  /* IE */
	scrollbar-width: none;  /* Firefox */
	
	&::-webkit-scrollbar {
  			display: none; /* Esconder elevador en Chrome */
	}
}


header {
	grid-area: header;
	padding-top: 15px;
	text-align: center;
	background: white;
	
	nav {
		grid-area: nav;
		height: $Nav__alto;
		background-color: $Nav--Fondo__color;
		
		ul {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-around;
			margin:0px;
			padding-inline-start: 0px;
			max-width: $Body--Ancho__max; 
			margin: 0px auto;

			li {
				line-height: $Nav__alto;
				background-color: $Nav--Fondo__color;
				list-style: none;	
				flex-grow: 2;
				flex-shrink: 2;

				a {
					text-decoration: none !important;
					color: white;
					font-size: clamp(10px, 3vw, 22px);
					display: block;

					&:hover, &[href="#"] {
						  color: white !important;
						  background: $Nav--Li__activo;
				    	}
				}
			}
		}
	}
}

main{
	grid-area: main;
	display: grid;
	padding-top: 20px;
	margin:24px;
	width:100%;

	max-width: $Body--Ancho__max; 
	width: $Body--Ancho;
	margin: 0px auto;

	&>h1{
		color: #70560D;
		font-size:  clamp(13px, 5vw, 30px);
		text-align: center;
		padding: 16px 0;
	}
}


footer{
	grid-area: footer;
	background: $Footer--Fondo__color;
	display: flex;
	text-align: center;
	justify-content: center;

	color: white;
	margin-top: 40px;
	font-size: clamp(10px, 1.2vw, 15px);
	padding: 10px 5%;
}

.logo-pipi{
	animation-name: aparece;
  	animation-duration: 2s;
  	position: relative;

	& img {
			max-width: 80%;
 	}
 	
 	&>p{
 		white-space: pre;
 		color:$Logo--Fuente__Color;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-family: $Logo--Fuente__Nombre;
		font-size: clamp(13px, 6.2vw, 62px);
 	}
 }

 form{
 		padding:25px 0px 0px 0px;
 	label{
 		padding:5px 0px 0px 0px;
 	}
 	textarea{
 		margin:0px 0px 10px 0px;
 	}
 	.botones{
 		display: flex;
 		justify-content: space-between;
 		input{
 			flex-grow: 1;
 			color: white;
 			background-color: $Nav--Fondo__color;
 			border: none;
 			margin: 3px;
 		}
 	}
}

.galeriaGrid{
	display: grid;
	grid-template-areas:
	"f1 f2 f3"
	"f4 f2 f5";

	justify-content: center;

	align-items: stretch;
	align-content: center;

	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;

}

.galeriaItem{
	filter: blur(1.5px) grayscale(70%);
	width: 80%;
	padding: 5px 0px 0px 20px;
  	
  	&:hover{
		filter: blur(0px) grayscale(0%);
		transform: scale(1.05);
		transition: 0.5s;
		z-index: 9999;
	}
}

@for $i from 1 through $Galeria--Fotos__Cantidad {
  .f#{$i}{
    grid-area: f#{$i};
  }
}
