:root {
	/*Variables de ajuste*/
		/*body*/
		--AnchoBody: 80vw;
		--AnchoMaxBody:800px;
		
		/*head*/
		--ColorFuenteLogo: #c2bb5f;
		
		/*footer*/
		--ColorFondoFooter: #c2bb5f;
		--AltoFooter:35; 
}

.nopadd{
	padding: 0px;
}
.flotante{
	margin: 15px auto; 
	box-shadow: 0px 0px 20px 1px #888888;
}


footer{
	background: var(--ColorFondoFooter);
	line-height: calc(var(--AltoFooter)*1px);
	font-size: clamp(13px, 1.2vw, 15px);
	
}
          

.titulo-logo{ 
	color:#c2bb5f;
	position: relative;
	top: -49%;
	font-family: 'Secular One', sans-serif;
	font-size: clamp(8px, 5.4vw, 38px);

}

@media (min-width: 576px) { 
.titulo-logo {
    	font-size: 30px;
    	/*color:red;*/
	}
 }


@media (min-width: 768px) { 
.titulo-logo {
    	font-size: 38px;
    	/*color:blue;*/
	}
 }


@media (min-width: 992px) { 
.titulo-logo {
    	font-size: 45px;
    	/*color:black;*/
	}
}


@media (min-width: 1200px) { 
	.titulo-logo {
		font-size: 48px;
	}
}



.row [class*='col-'] {
    /*transition: all 0.5s ease-in-out;*/
	transition: all 0.5s ease  ;
}